@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .customInset {
    inset: 0 0 0 32%;
  }
}

@layer components {
  .mobile-nav-toggle[aria-expanded="true"] {
    @apply bg-hamburgerClose;
  }
}

@layer components {
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
}

/* @layer components {
  .arrow-active {
    transform: scaleY(-1);
  }
} */