@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.customInset {
		inset: 0 0 0 32%;
	}
}

@layer components {
	.mobile-nav-toggle[aria-expanded='true'] {
		@apply bg-hamburgerClose;
	}
}

@layer components {
	.primary-navigation[data-visible='true'] {
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@layer components {
	.arrow-active {
		-webkit-transform: scaleY(-1);
		-ms-transform: scaleY(-1);
		transform: scaleY(-1);
	}
}

summary::marker {
	color: transparent;
}

details[open] summary img {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

details[open] summary~* {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(8px);
		-ms-transform: translateY(8px);
		transform: translateY(8px)
	}
}

@keyframes slide-top {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(8px);
		-ms-transform: translateY(8px);
		transform: translateY(8px);
	}
}